<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>COSIN APP V-1.0</title>
    <link rel="stylesheet" data-th-href="@{/photon/dist/css/photon.min.css}"/>
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <h1 class="title">APLIKASI CERDAS DIAGNOSA KERUSAKAN PERANGKAT ELEKTRONIK</h1>
      </header>

      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">Navigasi Pengguna</h5>
              <span class="nav-group-item">
                <span class="icon icon-home"></span>
                <a style="cursor: pointer;" data-th-href="@{/}">Beranda</a>
              </span>
              <span class="nav-group-item active">
                <span class="icon icon-light-up"></span>
                <a style="cursor: pointer;" data-th-href="@{/prepare-diagnosa}">Diagnosa</a>
              </span>
              <span class="nav-group-item">
                <span class="icon icon-download"></span>
                <a style="cursor: pointer;" data-th-href="@{/prepare-bantuan}">Bantuan</a>
              </span>
            </nav>
          </div>
   
          <div class="pane">
          	<header class="toolbar toolbar-header">
  				<h1 class="title">Hasil diagnosa:</h1>
			</header>
			<form method="POST" data-th-action="@{/do-diagnosa}">
			<table class="table-striped" style="widh:75%;">
			<tbody>
			<tr>
				<td width="5%">Nilai Biner</td>
				<td width="1%">:</td>
				<td width="90%" data-th-text="${bit}"/>
			</tr>
			<tr>
				<td width="5%">Tingkat Kemiripan Kasus</td>
				<td>:</td>
				<td data-th-text="${match}"/>
			</tr>
			<tr>
				<td width="5%">Perkiraan Masalah</td>
				<td>:</td>
				<td data-th-text="${problem}"/>
			</tr>
			<tr>
				<td width="5%">Solusi</td>
				<td>:</td>
				<td>
					<ul>
						<li data-th-each="solusi:${solusions}" data-th-text="${solusi}"/>
					</ul>
				</td>
			</tr>
			</tbody>
			</table>
			<footer class="toolbar toolbar-footer">
  				<div class="toolbar-actions">
  					<button type="button" onclick="javascript:window.location='/prepare-diagnosa'" class="btn btn-primary pull-right">
      					Ulangi Diagnosa
    				</button>
  				</div>
			</footer>
			</form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>