<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sismtem Diagnosa BTS</title>
        <link data-th-href="@{/assets/img/favicon.ico}" rel="icon" type="image/x-icon"/>
        <link data-th-href="@{/css/google-apis-css1.css}" rel="stylesheet" />
        <link data-th-href="@{/css/google-apis-css2.css}" rel="stylesheet" type="text/css" />
        <link data-th-href="@{/css/magnific-popup.min.css}" rel="stylesheet" />
        <link data-th-href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger">Beranda</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" data-th-href="@{/info-and-help}">Info & Batuan</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" data-th-href="@{/browse-cases}">Data Kasus</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Diagnosa Gangguan Pada BTS</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Silahkan klik tombol "Mulai Diagnosa" Untuk memulai proses diagnosa gangguan pada BTS</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" data-th-href="@{survey}">Mulai Diagnosa</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div></div>
        </footer>
        <script data-th-src="@{/js/jquery-3.5.1.slim.min.js}"></script>
        <script data-th-src="@{/js/bootstrap.bundle.min.js}"></script>
        <script data-th-src="@{/js/jquery.easing.min.js}"></script>
        <script data-th-src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script data-th-src="@{/js/scripts.js}"></script>
        <script data-th-src="@{/js/all.js}"></script>
    </body>
</html>
